<div class="card">
    <img class="card-img-top" src="<%= rooms[i].images.picture_url %>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= rooms[i].name %></h5>
        <p class="card-text"><%= rooms[i].description.toString().substr(0, 200) %>...</p>
        <!--            <p class="card-subtitle"><%= rooms[i].price %></p>-->
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>